.faq-item {
  $faq-item: &;

  border-bottom: 1px solid var(--c-light-grayish-blue);
  cursor: pointer;
  padding: 17px 0;
  transition: color var(--a-transition-timming);

  &.active {
    #{$faq-item}__title {
      font-weight: 700;
    }

    #{$faq-item}__arrow {
      transform: rotate(-180deg);
    }
  }

  &:hover {
    color: var(--c-secondary);
  }

  &__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-size: 0.9rem;
  }

  &__arrow {
    max-height: 7px;
    max-width: 10px;
    transition: transform var(--a-transition-timming);
  }

  &__content {
    color: var(--c-dark-grayish-blue);
    margin: 15px 20px 0 0;
  }
}
