body {
  background: var(--c-soft-blue);
  background: linear-gradient(0deg, var(--c-soft-blue) 0%, var(--c-soft-violet) 100%);
  color: var(--c-primary);
  font-family: var(--f-primary), sans-serif;
  font-size: 12px;
  height: 100vh;
}
