:root {
  --f-primary: 'Kumbh Sans';
  --c-primary: hsl(238, 29%, 16%);
  --c-secondary: hsl(14, 88%, 65%);
  --c-soft-violet: hsl(273, 75%, 66%);
  --c-soft-blue: hsl(240, 73%, 65%);
  --c-very-dark-grayish-blue: hsl(237, 12%, 33%);
  --c-dark-grayish-blue: hsl(240, 6%, 50%);
  --c-light-grayish-blue: hsl(240, 5%, 91%);
  --font-size: 12px;
  --a-transition-timming: .5s;
}

// Breakpoints
$b-large: 992px;
$b-xlarge: 1200px;
