@import 'src/styles/settings/variables';

.faq-items {
  &__title {
    font-size: 2rem;
    margin: 0 0 20px;
    text-align: center;

    @media only screen and (min-width: $b-large) {
      text-align: left;
    }
  }

  &__items {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  @media only screen and (min-width: $b-large) {
    margin-left: auto;
    margin-right: 5%;
    width: 45%;
  }

  @media only screen and (min-width: $b-xlarge) {
    margin-right: 0;
    width: 50%;
  }
}
