.card {
  background-color: #fff;
  border-radius: 20px;
  position: absolute;
  max-width: 80%;
  width: 100%;
  -webkit-box-shadow: 0 40px 77px 10px rgba(0,0,0,0.31);
  -moz-box-shadow: 0 40px 77px 10px rgba(0,0,0,0.31);
  box-shadow: 0 40px 77px 10px rgba(0,0,0,0.31);
  padding: 130px 5% 25px;
}
