@import "src/styles/settings/variables";

.card {
  background-color: #fff;
  border-radius: 20px;
  position: absolute;
  max-width: 80%;
  width: 100%;
  -webkit-box-shadow: 0 40px 77px 10px rgba(0,0,0,0.31);
  -moz-box-shadow: 0 40px 77px 10px rgba(0,0,0,0.31);
  box-shadow: 0 40px 77px 10px rgba(0,0,0,0.31);
  padding: 25px 5%;

  @media only screen and (min-width: $b-large) {
    padding: 50px;
  }

  @media only screen and (min-width: $b-xlarge) {
    max-width: 60%;
  }
}
