@import 'src/styles/settings/variables';

.card {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 40px 77px 10px rgb(0 0 0 / 31%);
  max-width: 80%;
  padding: 25px 5%;
  position: absolute;
  width: 100%;

  @media only screen and (min-width: $b-large) {
    padding: 50px;
  }

  @media only screen and (min-width: $b-xlarge) {
    max-width: 60%;
  }
}
