@import 'src/styles/settings/variables';

.image {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 46%;
  position: absolute;
  top: -107px;
  transform: translate(-50%, 0);

  &-box :global {
    display: none;

    @media only screen and (min-width: $b-large) {
      bottom: 55px;
      display: block;
      left: -35px;
      position: absolute;
      z-index: 15;
    }
  }

  &-main :global {
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-name: bounce;
    animation-timing-function: ease;

    @media only screen and (min-width: $b-large) {
      z-index: 10;
    }
  }

  &-shadow {
    bottom: -15px;
    position: absolute;
    right: 0;

    img {
      @media only screen and (min-width: $b-large) {
        height: 600px;
        width: 550px;
      }
    }

    @media only screen and (min-width: $b-large) {
      bottom: initial;
      left: -90px;
      right: initial;
      top: -150px;
    }
  }

  @media only screen and (min-width: $b-large) {
    left: -65px;
    max-width: 450px;
    top: 50%;
    transform: translate(0, -50%);
  }
}
